<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XmlPath" value="D:\file\TZ\status.xml" />
    <add key="RabbitMQHostName" value="localhost" />
    <add key="QueueName" value="DefaultQueue"/>
    <add key="NLogConfig" value="D:\file\TZ\FileParser\NLog.config"/>
  </appSettings>
</configuration>