<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQHostName" value="localhost" />
    <add key="QueueName" value="DefaultQueue"/>
    <add key="SqlLite" value="Data Source=d:\file\TZ\database.db"/>
    <add key="NLogConfig" value="D:\file\TZ\DataProcessor\NLog.config"/>
  </appSettings>
</configuration>